#components-form-demo-normal-login .login-form {
  max-width: 300px;
}

.login-button {
  width: 100%;
}

.login-title {
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-bottom: 24px;
  span {
    vertical-align: text-bottom;
    font-size: 16px;
    display: inline-block;
  }
}